@import "../Abstracts/Variables.scss";

.name_and_photo{
    grid-column: 1 / 5;
    // background-color: red;
    // display: flex;
    // flex-direction: column;
    // justify-content:center;
    // align-items: center;

    display: grid;
    grid-template-rows: $header-height 1fr;


    &-name{
        grid-row: 1/2;
        // justify-self: center;
        // margin-top: auto;
        align-self:flex-end;
        margin-left: 20%;
        font-family: $font-secondary;
        letter-spacing: 2px;
    }
    
    & img{
        grid-row: 2/-1;
        width : 60%;
        justify-self: center;
        align-self: center;
        border-radius: 20px;
        perspective: 150rem;
        box-shadow: 0.8rem 0.8rem 2rem rgba(30, 34, 72, 0.995);

    }

}

