@import "../Abstracts/Variables.scss";
@import "../Abstracts/Mixins.scss";

.menu {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 2rem;
  right: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  @include respond("tab-port") {
    top: 1rem;
    right: 1rem;
  }

  &-Gradient {
    width: 6rem;
    height: 6rem;

    background: radial-gradient($color-primary, $color-primary-light);
    border-radius: 50%;
    position: fixed;
    top: 5rem;
    right: 5rem;
    z-index: 200;

    transition: all 0.5s ease-in-out;
    transform: translateX(50%) translateY(-50%);
    @include respond("tab-port") {
      top: 4rem;
      right: 4rem;
    }
  }

  &-Scale {
    width: 220vmax;
    height: 220vmax;
  }

  &-Bars {
    position: relative;
    z-index: 400;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }

  &-Bar {
    width: 3rem;
    height: 0.2rem;
    background-color: $color-white;
    margin: 0.7rem;
    transition: all 0.5s ease-out;
  }

  &-Top {
    transform: rotate(45deg);
    position: absolute;
    top: 0;
  }

  &-Middle {
    background-color: transparent;
  }

  &-Bottom {
    transform: rotate(-45deg);
    position: absolute;
    top: 0;
  }
}
