@import "../Abstracts/Variables.scss";
@import "../Abstracts/Animations.scss";
@import "../Abstracts/Mixins.scss";

.navbar {
  z-index: 3000;

  &-Container {
    position: fixed;
    z-index: 500;
  }

  &-Links {
    position: fixed;
    z-index: 3000;

    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 400;

    animation: slide-NavLinks 0.8s;
    animation-fill-mode: forwards;

    &-Animation {
      animation: slide-NavLinks 0.8s;
      animation-fill-mode: forwards;
    }
  }

  &-Link {
    &:link,
    &:visited {
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 230%;
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }
}
