@import '../Abstracts/Variables.scss';

.certificates{

    grid-row: 6/7;
    grid-column: 1/-1;
    display: grid;
    grid-template-rows: $header-height 1fr $footer-height;
    // background-color: red;
    // grid-template-columns: 2fr 1fr;

    &-Title{
        // background-color: red;
        grid-column: 1/-1;
        grid-row: 1/2;
        justify-self: center;
        font-family: $font-secondary;
        font-size: $Title;
        color: $color-tertiary;
    }
    &-All{
    //   background: $blue-gradient-right;
      grid-row: 2/3;
      display: grid;
      grid-template-columns: 1fr 7fr 3fr 1fr;
      padding: 1rem;
    }

    &-Each{
        width: auto;
        height: 100%;
        cursor: pointer;
        // margin: 2rem;
    }

    &-Box_1{
        grid-column: 2/3;
        grid-row: 2/3;
        // padding: 5rem;
        // background-color: red;
        padding: 5px 10px 8rem 10px;
        height: 80vh;
        width: 50vw;
        // text-align: center;
    }

    &-Box_2{
        height: 20vh;
        // background-color: gold;
        grid-row: 1/2;
        text-align: left;
        padding: 5px 10px;
    }
    &-Box_3{
        height: 20vh;
        text-align: right;
        grid-row: 2/3;
        // background-color: gold;
        height: 20vh;
        padding: 5px 10px;

    }
    &-Box_4{
        height: 20vh;
        grid-row: 3/4;
        // background-color: gold;
        text-align: left;
        padding: 5px 10px;
        
    }
    &-Box_5{
        height: 20vh;
        grid-row: 4/5;
        // background-color: gold;
        text-align: right;
        padding: 5px 10px;

    }
    
    &-Other{
        height: 80vh;
        width: 30vw;
        grid-row: 2/3;
        grid-column: 3/4;
        // background-color: blue;
        // background: $blue-gradient-right;
        display: grid;
        grid-template-rows: repeat(4,1fr);
        // margin: 2rem;
        // margin-left: 2rem;
        // gap: 2rem;
        // flex-direction: column;
    }
}